

h1 {
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.readonly-input {
    cursor: not-allowed; /* 禁止符号 */
    position: relative; /* 设置定位上下文 */
    background-color: white; /* 维持背景颜色为白色 */
    color: black; /* 文字颜色为黑色 */
}

