/* TITLE */
h1 {
    color: red;
    font-family: "Comic Sans MS";

    width: 1100px;
    margin: 0 auto;
    font-size: 50px;
}
.welcome {
    color: black;
    font-family: "Comic Sans MS";

    width: 1100px;
    margin: 0 auto;
}


/* CREATE A NEW TASK */
.create-task{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 19%;
}
.btn--circle {
    position: relative;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 1000px;
    border: 1px solid #5846ff;
    height: 60px;
    width: 60px;
    transition: all cubic-bezier(0.31, -0.105, 0.43, 1.4) 0.2s;
    background-color: #6252f9;
}
.btn--circle:hover {
    width: 135px;
    cursor: pointer;
}
.btn--circle:hover .btn-stage:first-child {
    opacity: 0;
}
.btn--circle:hover .btn-stage:nth-child(n+2) {
    opacity: 1;
    transition: opacity linear calc(0.2s + 0.05s);
}
.btn-stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    transition: opacity linear calc(0.2s - 0.05s);
}
.btn-stage:nth-child(n+2) {
    opacity: 0;
    white-space: nowrap;
    font-size: 1rem;
}




/*body {*/
/*    background-color: RGB(192,192,192);*/
/*}*/

.format-container {
    width: 1142px;
    margin: 0 auto;
}


.format-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;

    position: relative;
    height: 700px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;


}

.format-card {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
}

.card:nth-child(2) {
    top: 0;
}

.card:nth-child(3) {
    top: 0;
}

.card:nth-child(4) {
    top: 60px;
}

.card:nth-child(5) {
    top: 60px;
}

.card:nth-child(6) {
    top: 60px;
}

.card:nth-child(7) {
    top: 120px;
}

.card:nth-child(8) {
    top: 120px;
}

.card:nth-child(9) {
    top: 120px;
}

.card:nth-child(10) {
    top: 180px;
}

.card:nth-child(11) {
    top: 180px;
}

.card:nth-child(12) {
    top: 180px;
}

.card:nth-child(13) {
    top: 240px;
}

.card:nth-child(14) {
    top: 240px;
}

.card:nth-child(15) {
    top: 240px;
}

.card:nth-child(16) {
    top: 300px;
}

.card:nth-child(17) {
    top: 300px;
}

.card:nth-child(18) {
    top: 300px;
}

.card:nth-child(19) {
    top: 360px;
}

.card:nth-child(20) {
    top: 360px;
}

.card:nth-child(21) {
    top: 360px;
}

.card:nth-child(22) {
    top: 420px;
}

.card:nth-child(23) {
    top: 420px;
}

.card:nth-child(24) {
    top: 420px;
}


.format-card:hover {
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: all 300ms;
}

.format-body {
    display: block;
    padding: 30px 20px 10px 20px;
    background-color: RGB(244, 244, 244);
    overflow: hidden;
    position: relative;
}

.format-body:hover,
.format-body:hover .format-text {
    text-decoration: none;
    color: #FFF;
}

.format-body:hover .format-bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.format-title {
    min-height: 87px;
    /*margin: 0 0 25px;*/
    margin: 0;
    overflow: hidden;

    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 25px;
    color: black;

    z-index: 2;
    position: relative;
}

.format-text {
    font-size: 18px;
    color: gray;
    z-index: 2;
    position: relative;
    font-family: "Comic Sans MS";
}

.format-bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.format-card:nth-child(2n) .format-bg {
    background-color: #3ecd5e;
}

.format-card:nth-child(3n) .format-bg {
    background-color: #e44002;
}

.format-card:nth-child(4n) .format-bg {
    background-color: #952aff;
}

.format-card:nth-child(5n) .format-bg {
    background-color: #cd3e94;
}

.format-card:nth-child(6n) .format-bg {
    background-color: #4c49ea;
}


@media only screen and (max-width: 979px) {
    .format-card {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .format-title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .format-card {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .format-title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .format-body {
        padding: 22px 40px;
    }

    .format-text {
        font-size: 16px;
        color: white;
    }
}


.edit-btn {
    text-decoration: none;
    color: black;
    font-family: monospace;
    display: inline-block;
}
